@charset "UTF-8";

.table-box {
    display: table;
    margin-bottom: 50px;
    width: 100%;
}

.table-box .box {
    display: table-cell;
    padding: 20px;
    text-align: center;
}

.table-box .red {
    width: 300px;
    background: #ff7b7b;
}

.table-box .blue {
    width: auto;
    background: #7b86ff;
}

.table-box .yellow {
    width: 300px;
    background: #fff27b;
}

.table-box .green {
    width: auto;
    background: #7bff91;
}

.table-box .pink {
    width: 400px;
    background: #ff7be2;
}

.table-box .orange {
    width: 400px;
    background: #ffc67b;
}

.table-box .light-blue {
    width: auto;
    background: #7bf2ff;
}